#wrapper {
    background-color: #f1f1f1;
}

#content {
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 30px;
    width: 980px;
}

#content h1 {
    color: #4CAF50;
    padding-bottom: 5px;
}

#content article {
    width: 980px;
    margin-bottom: 40px;
}

#content img {
    float: left;
    margin-right: 10px;
}

#beindie {
    clear: both;
    float: left;
    padding-top: 8px;
    padding-bottom: 35px;
}

