#wrap_about{
    margin: 0 auto;
    width: 980px;
    padding: 30px 0;
}

#wrap_about h1 {
    color: #4CAF50;
    padding: 10px;
}

.about_e {
    width: 380px;
    margin: 20px 10px 50px 10px;
    float: left;
    height: 330px;
}
.e_info {
    width: 190px;
    text-align: center;
}

.e_info p {
    line-height: 20px;
}

.mail {
    text-decoration: underline;
}

.e_img {
    margin-top: 50px;
    background-size: 100%;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    float: left;
}

.e_text {
    text-align: justify;
    height: 330px;
    width: 540px;
    float: left;
    margin: 60px 0 80px 0;
    float: left;
    line-height: 22px;
}

#beindie {
    margin: 20px 0;
    line-height: 23px;
    text-align: justify;
}

#beindie_txt {
    margin: 10px 0;
}
