#myproject_wrap {
    width: 980px;
    margin: 0 auto;
    padding: 50px 0;
    height: 500px;
}

#myprojects_table {
    padding: 40px 0;
}

#myprojects_table h2, #supportprojects_table h2 {
    color: #4CAF50;
    margin-bottom: 10px;
}

#myprojects_table table, #supportprojects_table table {
    width: 100%;
}

#myprojects_table th, #supportprojects_table th {
    font-size: 20px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

#myprojects_table td, #supportprojects_table td {
    height: 29px;
    font-size: 17px;
    border-bottom: 1px solid #ddd;
}

.first {
    width: 360px;
}

.second {
    width: 170px;
}

.third {
    width: 287px;
}

.third_1 {
    width: 89px;
}

.third_2 {
    width: 198px;
}

.fourth {
    width: 108px;
}

.goal_bar_table {
    width: 267px;
    background-color: #333;
    border-radius: 3px;
    height: 6px;
}

.current_bar_table {
    background-color: #4CAF50;
    border-radius: 3px;
    height: 6px;
}

.project_links {
    text-decoration: underline;
    color: black;
}

#profile_link {
    text-decoration: underline;
    color: #4CAF50;
    position: absolute;
    margin: 7px 3px;
}