/* 
    Created on : 02.12.2016, 23:33:10
    Author     : ronwagner
*/

@import url('https://fonts.googleapis.com/css?family=Roboto|Slabo+27px');
@import url('https://fonts.googleapis.com/css?family=Raleway');


/*Basics*/
* {
    margin: 0;
}

body,h2,h3,h4,h5,h6,h7 {
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-size: 35px;
}

.fixed {
    position: fixed;
    top: 0;
}

/*nav*/
#navhead {
    padding-top: 12px;
    overflow: hidden;
    width: 100%;
    position: relative;
    background-color: #f1f1f1;
    transition: height 0.3s linear 0s, padding 0.3s linear 0s;
}

#navhead img{
    max-height: 35px;
    padding: 0.01em 16px;
}
#navhead h3 {
    float: right;
    line-height: 50px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 0.01em 16px;
}

#navbar {
    margin-bottom: -4px;
}

ul.topnav {
    clear: both;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 100%;
    height: 48px;
    display: inline-block;
    z-index: 10;
}

ul.topnav li {
    float: left;
}

ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
    letter-spacing: 2px;
    position: relative;
}

ul.topnav li.login {
    float: right;
}

ul.topnav li a:hover {
    background-color: #555;
}

ul.subnav {
    position:absolute;
    background-color: rgba(51, 51, 51, 0.6);
    list-style-type: none;
    padding-left: 0px;
    display: none;
}

ul.subnav li {
    float: none;
}

ul.subnav li a {
    width: 130px;
    text-align: left;
    font-size: 14.5px;
}

ul.topnav li:hover .subnav {
    display: block;
}

ul.topnav li:hover{
    background-color: #555;
}

ul.topnav li.icon {
    display: none;
}

ul.login li a:hover {
    background-color: #555;
}


#head {
    clear: both;
    background-image: url(../images/banner10.jpg);
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    z-index: -1;
}

#head p.adtext1 {
    color: white;
    font-size: 60px;
    text-align: center;
    /*    font-weight: bold;*/
    text-transform: uppercase;
    padding-top: 250px;
    line-height: 1.5;
}

#head p.adtext2 {
    color: white;
    font-size: 25px;
    text-align: center;
    /*font-weight: 900;*/
} 

#top-content {
    background-color: #f1f1f1;
}

/*search-bar*/
input.search {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('../images/searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    background-size: 22px;
    padding: 12px 20px 12px 40px;
    margin-top: 10px;
    color: black;
}

button.filter {
    color: #4CAF50;
    background-color: transparent;
    cursor: pointer;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.3s;
    font-size: 15px;
    margin-bottom: 3px;
    text-decoration: underline;
    letter-spacing: 1px;
    margin-left: -5px;
    margin-top: 5px;
}

button.filter:after {
    content: '\25BC';
    font-size: 15px;
    color: #4CAF50;
}

button.filter.active:after {
    content: "\25B2";
}

.filter_panel table {
    letter-spacing: 1px;
}

.cat_filter {
    padding-left: 10px;
}

.inputs {
    padding-right: 10px;
    float: left;
}

.first_input_cat {
    padding-right: 10px;
    float: left;
    padding-left: 10px;
}

.input_text {
    margin-top: -17px;
    padding-left: 17px;
}

div.filter_panel {
    padding: 0 10px;
    background-color: #f1f1f1;
    font-size: 13px;
    display: none;
    margin-bottom: 0px;
}

div.filter_panel.show {
    display: block;
}

/*projects*/
#table {
    width: 980px;
    margin: 0 auto;
    padding-top: 50px;
}

#table h2 {
    color: #4CAF50;
}

#display_all, #search_result {
    margin-top: -50px;
}

.projects_display {
    width: 450px;
    padding: 40px 20px 40px 20px;
    float: left;
}

.project_img {
    height: 300px;
    width: 450px;
    background-color: #333;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: -1;
}

.project_img_opacity {
    opacity: 0.7;
}

.project_img img {
  max-width:100%;
  max-height:100%;
}

.support_button {
    display: none;
    padding: 10px 18px;
    background-color: #4CAF50;
    width: 113px;
    margin: 0 auto;
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.support_button button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    width: 100px;
    font-size: 17px;
}

.support_button:active {
    box-shadow:0 0px 0px 0 rgba(0,0,0,0),0 0px 0px 0 rgba(0,0,0,0);
}

.support_button_show {
    display: block;
    position: absolute;
    margin-top: 50px;
    opacity: 1;
}

.project_title {
    margin-top: 5px;
}

.project_title a {
    color: #4CAF50;
    text-decoration: none;
}
.project_title a:hover {
    text-decoration: underline;
}

.project_user {
    font-weight: bold;
    margin-bottom: 10px;
}

.goal_bar {
    width: 450px;
    background-color: #333;
    float: left;
    border-radius: 3px;
    height: 6px;
    overflow: hidden;
    margin-bottom: 5px;
}

.current_bar {
    background-color: #4CAF50;
    float: left;
    border-radius: 3px;
    height: 6px;
}

.project_stats table {
    border-collapse: separate;
    border-spacing: 20px 2px;
    margin-left: -22px;
}

.project_stats th {
    text-align: left;
}

.project_stats td {
    text-align: left;
    font-style: italic;
}

#search_result {
    margin-top: -18px;
}

/*footer*/
footer {
    clear: both;
    background-color: #333;
    color: white;
    height: 150px;
    text-align: center;
}

footer article {
    padding-top: 50px;
}

#footer_link a {
    line-height: 50px;
    text-decoration: none;
    color: #4CAF50;
}

#footer_link a:hover {
    text-decoration: underline;
}


/*the following css is only relevant for the modal login form*/

/* Bordered form */
form {
    border: 3px solid #f1f1f1;
}

label {
    padding-left: 20px;
}

/* Full-width inputs */
.modal_input {
    width: 960px;
    padding: 12px 20px;
    margin: 8px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
.modal_button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 18px;
    margin: 8px 20px;
    border: none;
    cursor: pointer;
    width: 81px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5px auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 980px; /* Could be more or less, depending on screen size */
    padding-top: 15px;
    padding-right: 20px;
    padding-bottom: 15px;
}

/* The Close Button */
.close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: 25px;
    top: 0; 
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

#fixing_stuff {
    clear: both;
    visibility: hidden;  
}