.login_wrap {
    width: 980px;
    padding: 20px 0;
    margin: 0 auto;
    margin-bottom: 450px;
}

#be_part_text {
    margin-bottom: 30px;
    font-size: 20px;
    text-align: justify;
    line-height: 30px;
}

#be_part_text img {
    margin-bottom: 5px;
}

#be_part_text a {
    color: #4CAF50;
}

.field_login, .field_register {
    float: left;
    width: 450px;
    padding: 20px 10px;
    margin: 0px 8px 10px 8px;
}

.field_login legend, .field_register legend {
    font-weight: bold;
    color: #4CAF50;
    font-size: 28px;
}

.login_input, .register_input {
    width: 370px;
    padding: 12px 20px;
    margin: 8px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.login_button, .register_button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0px;
    margin: 8px 20px;
    border: none;
    cursor: pointer;
    width: 150px;
}

.register_button {
    padding: 10px 0px;
}

/*error msg styling*/

#err_login, #err_email, #err_psw_rp, #err_uname {
    background-color: #FFBABA;
    color: #D8000C;
    margin: 8px 20px;
    width: 350px;
    padding: 10px 0px;
    padding-left: 20px;
    display: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #D8000C;
}

#err_login.show, #err_email.show, #err_psw_rp.show, #err_uname.show{
    display: block;
}
